@import "./scss/settings";
@import "./scss/base";
@import "./scss/utilities";
@import "./scss/mixins";
@import "./scss/navbar";
@import "./scss/hero-section";
@import "./scss/agile-section";
@import "./scss/privilege";
@import "./scss/quarter";
@import "./scss/explore";
@import "./scss/join";
@import "./scss/footer";
// .doctors {
//   color: #22b78e !important;
//   font-family: StagSans;
//   font-size: 31px;
//   letter-spacing: 1.28px;
//   line-height: 44px;
//   text-align: left;
//   left: 167px;
//   top: 1119px;
//   display: flex;
// }

.what-are-the-types-o {
  color: #22b78e;
  font-family: StagSans;
  font-size: 31px;
  letter-spacing: 1.28px;
  line-height: 44px;
  text-align: left;
}
.card-img-top {
  border: 1.12px solid #21b78e;
  border-radius: 100%;
  width: 10px;
  height: 9px;
}
